In [15]:
import pandas as pd

In [16]:
import os

In [46]:
files = os.listdir('/Users/nastine/Downloads/names')
result = []
for file_name in files:
    if file_name.endswith('.txt'):
        year = file_name[3:7]
        df = pd.read_csv(file_name, names = ['Names', 'Gender', 'Count'])
        df['Year'] = int(year)
        result.append(df)
worksheet = pd.concat(result)

In [121]:
def count_top3(worksheet, year):
    names = worksheet[worksheet['Year'].isin(year)].groupby(['Names']).sum().sort_values('Count').tail(3).iloc[0:3, 1:1] 
    return names


count_top3(worksheet, [2018, 2011, 2013])

Empty DataFrame
Columns: []
Index: [Olivia, Sophia, Emma]

In [127]:
def count_dynamics(worksheet, years):
    statistics = worksheet[worksheet['Year'].isin(years)].groupby(['Gender', 'Year']).sum().sort_values('Count') 
    return statistics
count_dynamics(worksheet, [2018, 2011, 2013])

               Count
Gender Year
F      2018  1686961
       2013  1751320
       2011  1756592
M      2018  1800392
       2013  1888009
       2011  1896574